<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Movies - Atores</title>
</head>
<body>
  <div class="container">
    <h1>Digital Movies - Atores</h1>

    <% actors.forEach(actor => { %>
      <h4 class="actors-name" style="color: black;"><%= actor.name  %></h4>
    <% }) %> 

    
  </div>
</body>
</html>