<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>
    <h1><%= title %></h1>
    <h3 style="margin-bottom: 20px">Bem vindos a <%= title %></h3>

    <% actors.forEach(actor => { %>
      
    <h4 class="actors-name">
     <strong>Nome do ator:</strong> <span style="font-weight: 300;"><%= actor.name %></span> 
    </h4>
    <% }) %>
  </body>
</html>
