<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <h3 style="margin-bottom: 20px;">Bem vindos a <%= title %></h3>
    
    <% if(typeof actor != "undefined"){ %>
         <h3><%= actor.name %> </h3>
    <% } %> 
   
  </body>
</html>
